<h1>Add a New photo</h1>

<form action="http://localhost:3000/create_photo">
<label>Caption:</label>
<input type="text" name="caption">

<label>Image URL:</label>
<input type="string" name="source">

<button>Create Photo</button>

</form>

